@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');


html, body {
  font-family: 'Lato', 'Open Sans', sans-serif;
  margin: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --blue: #3498DB;
  --black: rgb(46, 46, 46);
  --green: #009856;
  --darkBlue: #2F24C1;
  --lightBlue: #3FD1CB;
  --lightGray: #F4FFF8;
  --yellow: #FDCA40;
}

.nav {
  width: 100vw;
  height: 70px;
  position: absolute;
  background-color: transparent;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  padding: 0 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;

  & img {
    height: 120px;
  }

  & ul {
    display: flex;
    align-items: center;

    & li {
      color: var(--lightGray);
      list-style: none;
      position: relative;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s ease;
      opacity: 0.8;

      &:not(:last-child) {
        margin-right: 20px;
      }

      & span {
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: var(--blue);
        transition: all 0.15s ease;
      }

      &:hover span {
        left: 0;
        width: 100%;
      }
    }
  }

  &.scrolled {
    background-color: #EEE;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    height: 60px;

    & ul li {
      font-size: 16px;
      color: rgb(46, 46, 46);
    }

    & img {
      height: 100px;
    }
  }
}

.header {
  background-image: url('../../images/building.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;

  & .cover {
    position: absolute;
    background: linear-gradient(to left, color(var(--darkBlue) a(0.3)), rgba(0,0,0,.85));
    width: 100%;
    height: 100%;
    padding-left: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
      font-size: 92px;
      font-weight: normal;
      color: #FFF;
      margin: 0;
      display: flex;
      align-items: center;

      & span {
        margin-left: 35px;
        font-size: 32px;
        width: auto;
        color: var(--lightBlue);
      }
    }

    & p {
      margin: 10px 0;
      font-size: 18px;
      color: var(--yellow);
      letter-spacing: 3px;

      & span {
        color: var(--lightGray);
        opacity: 0.6;
        font-size: 18px;
      }
    }

    & h4 {
      color: #FFF;
      font-weight: normal;
      line-height: 1.5;
      font-size: 18px;
      opacity: 0.8;
      letter-spacing: 0.5px;

      & div {
        font-weight: bold;
        opacity: 0.9;
      }

      & span {
        color: var(--yellow);
      }
    }

    & .btn {
      width: 200px;
      height: 50px;
      background-color: color(var(--blue) a(0.3));
      opacity: 1;
      margin: 20px 0 0;
      border-radius: 5px;
      border: 1px solid var(--blue);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--darkBlue);
      font-size: 18px;
      letter-spacing: 1px;

      &.active {
        opacity: 1;
        color: #FFF;
        transition: all 0.15s ease;
        cursor: pointer;
        position: relative;

        &:hover {
          transform: scale(1.1);
        }
      }

      & .hint {
        position: absolute;
        font-size: 12px;
        bottom: -50px;
        left: 100px;
        width: 170px;
        height: 30px;
        background: var(--black);
        color: var(--yellow);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.5s ease;

        &::before {
          content: '';
          position: absolute;
          top: -19px;
          left: 20px;
          height: 0;
          width: 0;
          border-top: 10px solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid var(--black);
        }
      }

      &:hover .hint {
        opacity: 1;
      }
    }
  }
}

.intro {
  min-height: 400px;
  padding-bottom: 20px;
  width: 100%;

  & .content {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;

    & h2 {
      font-size: 26px;
      margin-top: 80px;
      opacity: 0.8;
    }

    & .line-thru {
      width: 100px;
      height: 3px;
      background-color: var(--yellow);
      margin: 20px 0;
    }

    & h4 {
      font-weight: normal;
      font-size: 18px;
      line-height: 1.3;
      width: 70%;
      font-family: 'Open Sans';
      letter-spacing: 0.5px;

      & span {
        color: var(--darkBlue);
      }

      & div {
        font-size: 18px;
        margin-top: 10px;
        opacity: 0.5;
      }
    }

    & .block {
      margin: 80px 0 40px;
      display: flex;
      width: 70%;

      & .info {
        margin-left: 30px;
        width: calc(100% - 270px);

        & h3 {
          font-size: 20px;
          margin-top: 0;
        }

        & .line-thru {
          margin: 10px 0;
          width: 90px;
        }

        & p {
          line-height: 1.3;
          letter-spacing: 0.5px;
          opacity: 0.5;
        }

        & a {
          font-size: 16px;
          color: var(--blue);
          margin-bottom: 0;
        }
      }
    }

    & .reimagine {
      width: 270px !important;
      display: inline-block;
      height: 200px;
      background-image: url('../../images/header-1.jpg');
      background-size: cover;
    }
  }
}

.subscription {
  height: 120px;
  background: linear-gradient(to right, var(--blue), var(--lightBlue));
  display: flex;
  align-items: center;
  justify-content: center;

  & form {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);

    & input[type='email'] {
      height: 35px;
      width: 450px;
      border: none;
      font-size: 16px;
      box-sizing: border-box;
      padding: 0 10px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: transparent;
      position: relative;

      &::after {
        content: ' ';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 450px;
        height: 3px;
        background-color: var(--blue);
      }

      &:focus {
        border: none;
        outline: 0;
      }
    }

    & input[type='submit'] {
      width: 100px;
      background-color: var(--yellow);
      height: 35px;
      outline: 0;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      font-size: 16px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
      color: var(--lightBlue);
    }
  }
}

#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}

.title {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: var(--black);

  & h2 {
    font-size: 40px;
    margin: 0;
  }

  & .line {
    width: 150px;
    height: 3px;
    background-color: var(--yellow);
    margin: 20px 0;
  }

  & p {
    font-size: 18px;
    margin: 0;
    width: 60%;
    text-align: center;
    line-height: 1.5;

    & code {
      color: var(--blue);
    }

    & .color {
      color: var(--yellow);
      font-weight: bold;
      font-size: 20px;
    }
  }
}

#about {
  min-height: 500px;
}

.detail {
  min-height: 650px;
  background-image: url('../../images/team.jpg');
  background-size: cover;
  margin-bottom: 50px;
  position: relative;

  & .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: color(#FFF a(0.6));
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p.sub {
      margin: 0;
      color: var(--darkBlue);

      & span:nth-child(2) {
        color: var(--blue);
        font-size: 18px;
        font-weight: bold;
      }
    }

    & .row {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      & .item {
        height: 300px;
        width: 300px;
        background-color: color(#EEE a(0.7));
        margin: 0 20px;
        box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px 50px;

        & h3 {
          width: 100%;
          text-align: center;
        }

        & p {
          margin: 5px 0 10px;
          line-height: 1.5;

          & span {
            font-weight: bold;
            color: var(--blue);
          }

          &.end {
            margin-top: 10px;
          }
        }

        & ul {
          padding-left: 20px;
          width: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        & li {
          width: 100%;
          margin: 5px 0;
          line-height: 1.5;

          &.img {
            display: flex;
            align-items: center;
          }

          & img {
            height: 30px;

            &#tech {
              margin-right: 5px;
            }
          }

          & span {
            font-weight: bold;
            color: var(--blue);
          }
        }
      }
    }
  }

  & h2 {
    color: var(--black);
    font-size: 32px;
    z-index: 1;
    margin: 0;
  }

  & .line {
    height: 3px;
    width: 80px;
    margin: 10px 0;
    background-color: var(--lightBlue);
  }
}

.about {
  width: 100%;
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;

  & .box {
    width: 50%;
    height: 400px;
    box-sizing: border-box;
    background-size: cover;
    position: relative;

    &:first-child {
      background-image: url('../../images/header-2.jpg');
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px;

      & h3 {
        color: var(--darkBlue);
        font-size: 26px;
        margin-bottom: 0;

        & .blue {
          color: var(--blue);
        }

        & .green {
          color: var(--green);
        }

        & .yellow {
          color: var(--yellow);
        }
      }

      & .line {
        width: 80px;
        height: 3px;
        background-color: var(--lightBlue);
        margin: 20px 0;
      }

      & p {
        font-size: 16px;
        width: 85%;
        margin: 0;
      }
    }

    &:nth-child(4) {
      background-image: url('../../images/stage.jpg');
    }

    &:nth-child(5) {
      background-image: url('../../images/team.jpg');
    }

    & .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      opacity: 0;
      transition: all 0.15s ease;

      & h2 {
        font-size: 32px;
        position: relative;
        padding: 10px 15px;

        & span {
          position: absolute;
          background-color: var(--yellow);
          transition: all 0.3s ease;

          &:first-child {
            top: 0;
            left: 0;
            width: 0;
            height: 2px;
          }

          &:nth-child(2) {
            right: 0;
            top: 0;
            width: 2px;
            height: 0;
          }

          &:nth-child(3) {
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
          }

          &:last-child {
            bottom: 0;
            left: 0;
            width: 2px;
            height: 0;
          }
        }
      }

      &:hover {
        opacity: 1;
      }

      &:hover h2 span:first-child,
      &:hover h2 span:nth-child(3) {
        width: 100%;
      }

      &:hover h2 span:nth-child(2),
      &:hover h2 span:last-child {
        height: 100%;
      }
    }
  }
}

.timeline {
  margin-top: 40px;

  & h2 {
    color: var(--black);
    font-size: 32px;
  }

  & .line {
    width: 80px;
    margin: 10px 0;
    background-color: var(--lightBlue);
  }

  & ul {
    display: flex;
    margin: 5px 0;
    padding: 0;

    & li {
      font-size: 14px;
      margin: 0 20px;
      list-style: none;

      & span {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 5px;
      }

      &:first-child span {
        background-color: var(--yellow);
      }

      &:nth-child(2) span {
        background-color: var(--green);
      }

      &:nth-child(3) span {
        background-color: var(--blue);
      }
    }
  }
}

.timeline-main {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  margin: 30px 0;

  & .box {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 20px 30px;
    background-color: #EEE;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    display: flex;
    position: relative;

    & h3 {
      font-size: 28px;
      font-weight: normal;
      width: 80%;
    }

    & ul {
      padding: 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      box-sizing: border-box;
      position: relative;

      & li {
        width: 80%;
        height: 35px;
        margin: 12px 0;
        list-style: none;
        display: flex;
        align-items: center;
        border-radius: 3px;
        position: relative;
        font-size: 16px;

        & div {
          width: 20%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          border-radius: 3px;

          &.green {
            background-color: var(--green);
          }

          &.blue {
            background-color: var(--blue);
          }

          &.yellow {
            background-color: var(--yellow);
          }
        }

        & h4 {
          box-sizing: border-box;
          width: 80%;
          padding: 0 30px;
          font-size: 16px;
        }
      }
    }
  }
}

.title.prize {
  margin-top: 80px;
  min-height: 700px;
  background: linear-gradient(to right, var(--blue), var(--lightBlue));
  position: relative;
  padding: 50px 0 10px;

  & .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 30px;

    & .item {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      & .img {
        height: 150px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
          height: 130px;

          &#tech {
            height: 80px;
          }

          &#github {
            height: 70px;
          }
        }
      }

      & .info {
        display: flex;
        flex-direction: column;

        & .line {
          height: 1px;
          background-color: #DDD;
          margin: 10px 0 5px;
        }

        & h4 {
          font-size: 20px;
          margin: 0;

          & span {
            color: #EEE;
            opacity: 0.8;
            font-weight: normal;
            margin-left: 30px;
            position: relative;
            font-size: 16px;

            &::before {
              content: '|';
              position: absolute;
              left: -15px;
            }
          }
        }
      }
    }
  }

  & h2 {
    color: var(--yellow);
    font-size: 32px;
  }

  & .line {
    width: 80px;
    margin: 10px 0;
    background-color: var(--lightGray);
  }

  & p {
    font-size: 14px;
    color: var(--black);

    & span {
      display: block;
    }
  }

  & ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;

    & li {
      margin: 20px;
      width: 250px;
      height: 300px;
      border-radius: 3px;
      background-color: var(--lightGray);
      box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
      list-style: none;
      transition: all 0.15s ease;
      position: relative;

      &:hover {
        transform: scale(1.1);
      }

      & .pic {
        height: 70%;
        width: 100%;
        border-radius: 3px;
        background-size: cover;

        &.crosswork {
          background-image: url('../../images/crosswork.jpg');
        }

        &.tshirt {
          background-image: url('../../images/t-shirt.jpg');
        }

        &.tech {
          background-image: url('../../images/tech-head.png');
        }

        &.ms {
          background-image: url('https://sec.ch9.ms/ch9/2bc1/ae7faf35-8cfb-4d61-8ac2-4e6ce2d72bc1/USImagineCupSemiFinals_960.jpg');
        }
      }

      & .donor {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-size: cover;
        top: 156px;
        right: 30px;
        position: absolute;;
        border: 2px solid var(--yellow);

        &.crosswork {
          background-image: url('../../images/crosswork-logo.jpg');
        }

        &.tshirt {
          background-color: #FFF;
          background-image: url('../../images/github.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &.tech {
          background-color: #FFF;
          background-image: url('../../images/tech.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &.ms {
          background-color: #FFF;
          background-image: url('https://c.s-microsoft.com/en-us/CMSImages/lrn-share-site-ms-logo.png?version=bf62922f-fda3-d328-e220-b699eac0d6c0');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      & .desc {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;

        & h3 {
          font-size: 16px;
          margin: 0;
          font-weight: normal;
        }
      }

      & .partner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        & h4 {
          font-size: 28px;
          margin-bottom: 15px;
          margin-top: 5px;
        }

        & p {
          width: 90%;
          margin: 0;
          margin: 5px 0;

          & a {
            color: var(--green);
            font-weight: bold;
          }
        }
      }
    }
  }
}

.title.support {
  padding: 50px 0;
  min-height: 1270px;
  background-color: #FFF;

  & h2 {
    font-size: 32px;

    &.adv {
      margin-top: 50px;
    }
  }

  & p {
    font-size: 16px;
    color: #AAA;

    & a {
      color: var(--blue);
      font-weight: bold;
    }
  }

  & .adv {
    display: flex;
    align-items: center;

    & img {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      margin-top: 20px;
    }

    & .info {
      display: flex;
      flex-direction: column;
      margin-left: 30px;

      & h5 {
        font-size: 18px;
        margin: 0;
      }

      & p {
        font-size: 14px;
        width: 220px;
        text-align: left;
        margin: 6px 0;
      }
    }
  }

  & ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 760px;
    margin-top: 50px;

    & li {
      margin: 0 20px;
      list-style: none;
      width: 150px;

      & img {
        height: 150px;
        width: 150px;

        &.pj {
          transform: scale(0.9);
        }
      }
    }
  }
}

.title#contact {
  background-image: url('../../images/prize.png');
  background-repeat: no-repeat;
  background-size: 180% 100%;
  min-height: 600px;

  & .paper {
    height: 500px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .line {
      margin: 5px 0;
    }

    & form {
      display: flex;
      flex-direction: column;
      width: 80%;

      & label {
        font-size: 20px;
        margin: 15px 0 10px;
        position: relative;
      }

      & input[type='email'],
      & input[type='text'] {
        width: 300px;
        background-color: transparent;
        border: none;
        font-size: 14px;
        position: relative;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;

        &:focus {
          outline: 0;
          border-bottom: 2px solid var(--blue);
        }
      }

      & textarea {
        background-color: transparent;
        border: none;
        font-size: 14px;

        &:focus {
          outline: 0;
        }
      }

      & input[type='submit'] {
        width: 100px;
        background-color: var(--blue);
        border: none;
        height: 30px;
        color: var(--yellow);
        font-size: 16px;
        box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
        border-radius: 5px;
        cursor: pointer;
      }

    }
  }
}

.workshops {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  position: relative;

  & .workshop {
    width: 50%;
    height: 100%;
    overflow: hidden;

    & .cover.ms {
      background-image: url('../../images/ms-new.png');
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
    }
  }
}

.faq {
  min-height: 600px;
  width: 70%;
  margin: 0 auto;
  background-color: color(#EEE a(0.7));
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 20px 40px;
  box-sizing: border-box;

  & h2 {
    opacity: 1;
    color: var(--blue);
    font-size: 24px;
  }

  & .line-thru {
    margin: 0 0 15px;
    width: 80px;
    height: 2px;
    background-color: var(--yellow);
  }

  & .q {
    margin-bottom: 50px;

    & h4 {
      font-size: 18px;
      margin-bottom: 5px;
    }

    & p {
      opacity: 0.6;

      & a {
        color: var(--darkBlue);
        opacity: 1;
      }
    }

    & .exp {
      opacity: 0.6;
    }
  }
}

a.btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 5px;
  background-color: color(var(--blue) a(0.3));
  margin-bottom: 50px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.footer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--blue), var(--lightBlue));

  & h5 {
    margin: 0;
    color: #FFF;
  }
}
